.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  align-items: center;
}

.about__left {
  width: 70%;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--third-color),
    transparent
  );
  margin: 0rem auto;
}

.about__me-image {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  /* transform: rotate(10deg); */
  transition: all 0.3s ease-in;
  margin: 0 auto;
  top: 10px;
  right: 10px;
}

.about__me-image:hover {
  top: 0px;
  right: 0px;
}

.about__intro {
  margin-bottom: 4rem;
  padding: 0rem 1.2rem 1.2rem 1.2rem;
}

.about__intro > h1 {
  color: var(--primary-color);
  font-size: 2.8rem;
}

.about__intro > h1 > span {
  color: var(--second-color);
  font-size: 2.2rem;
}

.about__intro > h2 {
  font-size: 2.2rem;
  color: var(--primary-color);
}

.about__intro > h3 {
  font-size: 1.2rem;
  color: var(--text--color);
  font-weight: 600;
}

.about__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1.2rem;
  font-size: 1.2rem;
}

.info__detail > h3 {
  color: var(--forth-color);
}

.info__detail > h4 {
  color: var(--text--color);
  font-weight: 600;
}

/*=============== BREAKPOINTS ===============*/
/* for extra large devices */
@media screen and (max-width: 1280px) {
}
/* for large devices */
@media screen and (max-width: 1112.5px) {
  .about__left {
    width: 85%;
  }
  .about__intro > h1 {
    font-size: 2.4rem;
  }
  .about__intro > h2 {
    font-size: 2rem;
  }
  .about__intro {
    margin-bottom: 2rem;
    padding: 0rem 1rem 1rem 1rem;
  }
}
/* for medium devices */
@media screen and (max-width: 896.5px) {
  .about__left {
    width: 35%;
    margin: 2rem auto;
  }
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    align-items: center;
  }
  .about__intro {
    text-align: center;
  }
  .about__intro h3 {
    text-align: justify;
  }
  .about__intro {
    margin-bottom: 1rem;
    padding: 0rem 1rem 1rem 1rem;
  }
}
/* for tablets */
@media screen and (max-width: 642.5px) {
  .about__intro > h1 {
    font-size: 2rem;
  }
  .about__intro > h2 {
    font-size: 1.3rem;
  }
  .about__intro h3 {
    font-size: 1rem;
  }
  .info__detail {
    font-size: 1.2rem;
  }
}
/* for mobile devices */
@media screen and (max-width: 447px) {
  .about__left {
    width: 50%;
  }
  .about__right {
    width: 100%;
    margin: 0 auto;
  }
  .info__detail {
    width: 100%;
  }
  .about__details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .info__right {
    text-align: end;
  }
}
/* for mobile devices */
@media screen and (max-width: 400px) {
}
