.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--third-color));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
  color: var(--second-color);
  font-weight: 700;
}

.layer > h5 {
  font-size: 2rem;
}

.portfolio__filter {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--forth-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin: 3rem 0;
}

.portfolio__filter > span:hover {
  color: var(--third-color);
  opacity: 0.7;
}

.project__card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.project__card img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: all 0.5s ease-in;
}

.project__card:hover img {
  transform: scale(1.1);
}

.layer-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.7rem;
}

.project__card:hover .layer {
  height: 100%;
}

.project__card:hover img {
  transform: scale(1.1);
}

.projects__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

.projects__modal-content {
  width: 600px;
  position: relative;
  background-color: var(--body-color2);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
  cursor: default;
}

.bx-collapse-alt {
  position: absolute;
  right: 50px;
  top: 20px;
  font-size: 2rem;
  transition: all 0.3s ease-in;
}

.bx-collapse-alt:hover {
  scale: 1.2;
}

.projects__modal-content > :nth-child(2) {
  font-size: 1.5rem;
  color: var(--forth-color);
}

.projects__modal-content > :nth-child(3) {
  font-size: 1rem;
  color: var(--text--color);
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.projects__modal-content > :nth-child(4) {
  font-size: 1.5rem;
  color: var(--forth-color);
}

.projects__modal-content > :nth-child(5) {
  font-size: 1rem;
  color: var(--text--color);
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.projects__modal-content > ul > li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.projects__modal-content > ul > li > i {
  font-size: 1.2rem;
}

.projects__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__btns > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--body-color2);
  font-weight: 500;
}

.projects__btns > a > i {
  font-size: 1.7rem;
  color: var(--body-color2);
}
/*=============== BREAKPOINTS ===============*/
/* for extra large devices */
@media screen and (max-width: 1280px) {
}
/* for large devices */
@media screen and (max-width: 1112.5px) {
  .layer > h5 {
    font-size: 1.5rem;
  }
  .layer-box {
    font-size: 1.5rem;
  }
  .portfolio__filter {
    font-size: 1.3rem;
  }
}
/*-------------------for medium devices--------------- */
@media screen and (max-width: 896.5px) {
  .layer > h5 {
    font-size: 1.1rem;
  }
  .layer-box {
    font-size: 1.1rem;
  }
  .portfolio__filter {
    font-size: 1.3rem;
  }
  .projects__modal-content {
    width: 500px;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    border: 1px solid transparent;
    font-size: 1.3rem;
  }
}
/* ---------------------for tablets----------------- */
@media screen and (max-width: 642.5px) {
  .portfolio__filter {
    font-size: 1.3rem;
  }
  .projects__modal-content {
    width: 400px;
    padding: 4rem 2rem 2rem;
  }
  .projects__modal-content > :nth-child(2) {
    font-size: 1.2rem;
  }

  .projects__modal-content > :nth-child(3) {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .projects__modal-content > :nth-child(4) {
    font-size: 1.2rem;
  }

  .projects__modal-content > ul > li {
    font-size: 0.9rem;
  }

  .projects__modal-content > ul > li > i {
    font-size: 1.1rem;
  }
  .btn {
    font-size: 1rem;
  }
  .portfolio__filter {
    font-size: 1rem;
  }
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .bx-collapse-alt {
    font-size: 1.5rem;
  }
}
/* ----------------for mobile devices------------------ */
@media screen and (max-width: 400px) {
  .projects__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio__filter {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 1rem 0rem;
  }
  .portfolio__filter > span {
    display: inline-block;
    margin-bottom: -0.5rem;
  }
}
