/* ============== Google Fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap");

/* ============== Variable CSS =====================*/
:root {
  --primary-color: #7743db;
  --second-color: #1f4e79;
  --third-color: #a08ffe;
  --forth-color: #3b3838;
  --text--color: #7f7f7f;
  --body-color: #ebf7fb;
  --body-color2: #fafafa;

  /* ======== Font ========= */
  --body-font: "Poppins", sans-serif;
  /* ============== Font Weight ============= */
  --font-light: 300;
  --font-medium: 400;
  --font-semibold: 500;
  --font-bold: 900;

  /* ============= Box Shadow ========== */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

/* ================= Base =================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
}

body {
  background-color: var(--body-color2);
  line-height: 1.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  /* The vertical-align property sets the vertical alignment of an element. */
  /* middle	The element is placed in the middle of the parent element */
  vertical-align: middle;
}

/* ======================= Resuable CSS ======================= */
.container {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.section-blue {
  background-color: var(--body-color);
}

.section-white {
  background-color: var(--body-color2);
}

.section__title-contaniner {
  text-align: center;
}

.section__title {
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--primary-color);
}

.section__subtitle {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text--color);
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 2px solid transparent;
  color: var(--body-color2);
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: var(--font-bold);
  font-size: 1.5rem;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1280px) {
  .container {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* -----------------for large devices-------------- */
@media screen and (max-width: 1112.5px) {
}
/*-------------------for medium devices--------------- */
@media screen and (max-width: 896.5px) {
}
/* ---------------------for tablets----------------- */
@media screen and (max-width: 642.5px) {
  .section__title {
    font-size: 2rem;
  }
  .section__subtitle {
    font-size: 1rem;
  }
}
/* ----------------for mobile devices------------------ */
@media screen and (max-width: 400px) {
  .section__title {
    font-size: 1.7rem;
  }
  .section__subtitle {
    font-size: 0.8rem;
  }
}
